.DS_Store
.env
.phpunit.result.cache
.scannerwork
/.idea
/.vagrant
/.vscode
/coverage
/nbproject
/storage/*
!/storage/.db
!/storage/.elastic
!/storage/logs
/storage/.db/*
/storage/.elastic/*
/storage/logs/*
/vendor
docker-compose.override.yml
!/**/.gitkeep